@import '../abstracts/mixins';
@import '../abstracts/variables';

/* Universal selector to reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*
        Sets the root font size, it is better to not use px because
        that overrides any font size set by the user
        This sets what 1rem is
    */
    font-size: 62.5%; // 1 rem is 10px when the base is 16px

    @include respond(tablet-landscape) {
        font-size: 56.25%; // 1 rem is 9 px when base is 16px
    }

    @include respond(tablet-portrait) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1 rem is 12 with base of 16
    }
}

body {
    /* padding and border are not added to total height for an element */
    box-sizing: border-box;
    padding: 0 2rem 2rem 2rem;
    @include respond(tablet-portrait) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
